body{
    background:#242F36;
    min-width: 1043px;
}
#header_wrap{
    height: 50px;
    margin: auto auto;
    position: fixed;
    background: #76BD43;
    border-bottom: 3px #619C37 solid;
}
#headerBackground{
    width: 100%;
    height: 100%;
    position: absolute;
}
#headerLogo{
    margin: 1px auto;
    width: 99px;
    height: 99px;
}
#headerLogo > img{
    width: 100%;
    height: 100%;
}
#header_intro{
    /*height: 319px;*/
    min-width: 950px;
    max-width: 950px;
    width: 950px;
    margin: auto auto;
    background-color: #475567;
    border-top: 3px #5D7087 solid;
    border-bottom: 3px #3C4857 solid;

}
#header_intro .inner {
    padding: 50px;
    color: #E4E4E4;
    min-width: 850px;
    max-width: 850px;
}
.inner {
    min-width: 1043px;
    max-width: 1043px;
    margin: 0 auto;
}
#project_title {
    width:267px;
    height:35px;
    margin: 0px auto;
    padding: 50px;
    padding-top: 125px;
}
#container {
    display: flex;
    flex-wrap: wrap;
}

/*left side*/
.ModContainer:nth-child(4n-1) > .dashedLineLeft,
.ModContainer:nth-child(2n+1) > .dashedLineLeft{
    display: none;
}
.ModContainer:nth-child(4n-1) > .dashedLineRight,
.ModContainer:nth-child(2n+1) > .dashedLineRight{
    margin-left:1px;
}
.ModContainer:nth-last-child(1):nth-child(odd){
    background-size: 93px,950px 100%;
    max-width: 996px;
    min-width: 996.5px;
}
.ModContainer:nth-last-child(1):nth-child(odd)>.dashedLineRight{
 display: none;
}
/*right side*/
.ModContainer:nth-child(4n),
.ModContainer:nth-child(2n){
    background-position: 100%,0%;
}
.ModContainer:nth-child(4n) > .dashedLineRight,
.ModContainer:nth-child(2n) > .dashedLineRight{
    display: none;
}
.ModContainer:nth-child(2n) > .infoContainer,
.ModContainer:nth-child(4n) > .infoContainer{
    padding-left: calc(32px - 5px);
}

.ModContainer:nth-child(4n-1),
.ModContainer:nth-child(4n){
    background-image: url("./../images/IconsBGdark.png"),url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVR42mO8CAAA1QDThQyl7QAAAABJRU5ErkJggg==');
}

.ModContainer:nth-child(2n) .ModIconLeft{
    display: none;
}
.ModContainer:nth-child(2n+1) .ModIconRight{
    display: none;
}
.ModContainer{
    background-image: url("./../images/IconsBG.png"),url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVR42mN8AgAA6ADmkoqr4AAAAABJRU5ErkJggg==');
    background-size:93px, 475px 100%;
    background-repeat: no-repeat;
    background-position: 0%,100%;
    max-width: 521.5px;
    min-width: 521.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.infoContainer{
    padding:25px 0px;
    min-width: 385px;
    max-width: 385px;
    padding-right: 30px;
}
.vertical{
    display:block ;
}
.horizontal{
    display: flex;
}
.verticalAlign{
    margin-top: auto;
    margin-bottom: auto;
}
.ModName{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.releaseDateContainer,.linksContainer  {
    padding-top: 7px;
}
.lastVersionContainer,
.downloadCountContainer{
    margin-top:-2px;
}
.TabSelector > a, .paddingLeft{
    padding-left:  5px;
}
.downloadLinks{
    min-width:175px;
    max-width:175px;
}
.jumpLinkParent {
    display: list-item;
    padding-left:5px;
}
#jumpLinks {
    padding:20px;
}
.linksContainer > a{
    color: rgba(96,153,55, 1);
    font-weight: bold;
    font-size: 15px;
}
a[onClick] {
    cursor: pointer;
}
h3{
    font-size: 24px;
}
.ModIcon{
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;
    margin: auto 0px auto 0px;
}
.ModIconLeft{
    margin-left: 19px;
    padding-right: 30px;
}
.ModIconRight{

    padding-left: 5px;
}
.dashedLineLeft,.dashedLineRight{
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAQCAYAAAA8qK60AAAAE0lEQVR4AWNYs2bNfxCmlEElAABONDAxV7JD0AAAAABJRU5ErkJggg==');
    height: calc(100% - 50px);
    width: 1px;
    margin-top:auto;
    margin-bottom:auto;
}
.dashedLineRight{
    width: 2px;
}
#supportUsOn{
    margin: auto;
    width: 386px;
    padding-top: 50px;
    text-align: center;
}
#patreon{
    width: 120px;
    height: 27.5px;
    margin-top: 9.75px;
}
#payPalContainer{
    padding-left:25px;
}
#patreonContainer{
    padding-right:25px;
}
#payPalContainer,
#patreonContainer{
    width: 168px;
}
#payPalContainer  img,
#patreonContainer  img{
    padding-top:10px;
}